html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #f0eee8;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Dosis", sans-serif;
}

p {
  font-family: Georgia, serif;
}

section {
  display: block;
  background-color: #dcd4cd:
  border: 3px solid #9a816d;
  border-radius: 8px;
  padding: .2em;
}

section:hover {
  background-color: #cabdb2;
  border: 3px solid #9a816d;
  border-radius: 8px;
}

ul {
  display: block;
  padding: 0;
  line-height: 1.5rem;
  border: 1px solid #9a816d;
}

.left {
  text-align: left;
  float: left;
  width: 50%;
  list-style-type: none;
  font-family: Georgia, serif;
}

.right {
  text-align: left;
  float: right;
  width: 50%;
  list-style-type: none;
  font-style: italic;
  font-family: Georgia, serif;
}

.learn {
  background-color: #785439;
  color: #fff;
  font-family: "Dosis", sans-serif;
  text-align: center;
  display: inline-block;
  padding: .3em;
  font-size: 1.125rem;
  border-radius: 8px;
  text-decoration: none;
}
